<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tvaprojekt"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".enterActivity.RealmActivityHistory"
            android:exported="false" />
        <activity
            android:name=".ViewHistoryFromRoom"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ViewActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIEvNyxp3lCI4t9hg5bn-RdOOUgt2zcqM" />

        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".enterActivity.EnterActivity"
            android:label="@string/enter_activity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name = ".checkConnection.MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>